# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
!.env.example
build/
dist/
coverage/

# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
/build/

# iOS
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate

# Android
.gradle/
/local.properties
/app/build/

# Windows/MacOS/Linux
.DS_Store
Thumbs.db

# .NET
**/bin/
**/obj/
*.user
*.suo

# Local env (keep .env.example tracked if you add one)
.env
.env.local
