PORT=3000

# PostgreSQL Bağlantı URI'si (Supabase, Neon veya Lokal olabilir)
DATABASE_URL="postgresql://postgres:sifre@localhost:5432/butce_db?schema=public"

# Google Gemini API Anahtarı
GEMINI_API_KEY="AIzaSy_BURAYA_KEY_GELECEK"
